@import "tailwindcss";

/* styles.css */
.app-container {
  max-width: 1400px;    /* o el ancho que prefieras */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;   /* 16px */
  padding-right: 1rem;
}
